<div class="container-fluide">
    <header class="bg-danger text-light text-center d-flex p-2 justify-content-between">
        <div>
            <h1>Amazon Shopping</h1>
        </div>
        <div><button type="submit" class="btn btn-dark" (click)="toggleCart()">[{{count}}] your Cart Items</button>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <h3>Select Category</h3>
                    <select class="form-select" (change)="changeCategory($event)">
                        <option *ngFor="let item of categories" [value]="item">{{item | uppercase}}</option>
                    </select>
                </div>
                <div class="mt-3" *ngIf="isCartVisible">
                    <table class="table table-hover">
                        <caption>Your Cart Items</caption>
                        <thead>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Perview</td>
                        </thead>
                        <tbody>
                            <tr [class.evenStyle]="even" [class.oddStyle]="odd"
                                *ngFor="let item of cartItems; let i=index; let even=even; let odd=odd">
                                <td>{{item.title}}</td>
                                <td>{{item.Price}}</td>
                                <td><img [src]="item.image" width="50" height="60px" alt="image"></td>
                                <td>
                                    <button class="btn btn-outline-danger" (click)="removeItem(i)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8">
                <h3>Product Catalog</h3>
                <div class="d-flex flex-wrap overflow-auto" style="height: 700px;">
                    <div [class.evenStyle]="even" [class.oddStyle]="odd" class="card m-2 w-25 p-2" *ngFor="let item of products; let even=even; let odd=odd">
                        <img [src]="item.image" height="150" alt="image" class="card-img-top">
                        <div class="card-header" style="height: 150px;">
                            <p>{{item.title}}</p>
                            <p>Price : {{item.price |currency:'INR'}}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger w-100" (click)="addToCartItem(item.id)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>