<div class="container-fluide">
    <header class="bg-danger text-center text-light">
        <h2>Shopping Online</h2>
    </header>
    <section class="mt-4">
        <div class="row">
            <div class="col-md-4">
                <app-custom-events (filterChanged)="filterChange($event)" [allCount]="allCount"
                    [electronics]="electronics" [jewelery]='jewelery' [mens]="mens" [womens]='womens'>
                </app-custom-events>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-wrap overflow-auto" style="height: 500px;">
                    <ng-container *ngFor="let item of products">
                        <div class="card w-25 mx-2" *ngIf="selectCategory=='All' || selectCategory== item.Category">
                            <img [src]="item.image" alt="img" height="200" class="card-img-top">
                            <div class="card-body">
                                <h5>{{item.title}}</h5>
                                <h5>{{item.price | currency:'INR'}}</h5>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>

</div>