<div id="slider">
    <input type="radio" name="slider" id="slider1" checked>
    <input type="radio" name="slider" id="slider2" >
    <input type="radio" name="slider" id="slider3" >
    <input type="radio" name="slider" id="slider4" >
    <div id="slides">
        <div id="overflow">
            <div class="inner">
                <div class="slide slide_1">
                    <div class="slide-content">
                        <h2>Slider 1</h2>
                        <p>Content for slider 1</p>
                    </div>
                </div>
                <div class="slide slide_2">
                    <div class="slide-content">
                        <h2>Slider 2</h2>
                        <p>Content for slider 2</p>
                    </div>
                </div>
                <div class="slide slide_3">
                    <div class="slide-content">
                        <h2>Slider 3</h2>
                        <p>Content for slider 3</p>
                    </div>
                </div>
                <div class="slide slide_4">
                    <div class="slide-content">
                        <h2>Slider 4</h2>
                        <p>Content for slider 4</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div id="controls">
        <label for="slider1"></label>
        <label for="slider2"></label>
        <label for="slider3"></label>
        <label for="slider4"></label>
    </div>
    <div id="bullets">
        <label for="slider1"></label>
        <label for="slider2"></label>
        <label for="slider3"></label>
        <label for="slider4"></label>
    </div>
</div>