<!-- <nav class="navbar navbar-dark bg-danger">
    <a href="#" class="navbar-brand">Angular 12</a>
</nav> -->

<!-- <app-interpolation></app-interpolation> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-form-binding></app-form-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-slider></app-slider> -->
<!-- <app-grid></app-grid> -->
<!-- <app-addcart></app-addcart> -->
<app-tdf></app-tdf>